* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  overflow: auto;
  flex-direction: column;
  overflow-wrap: break-word;

  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 0.3125rem; /*5px*/
  
  max-width: 29.375rem; /*470px*/
  max-height: 20rem; /*320px*/
  margin-bottom: 0.625rem; /*10px*/
  padding: 0.5rem;
  
  order: 1;
}

.card__header {
  display: flex;
  font-size: 1.5rem;
  line-height: 1;
  flex-direction: column;
  overflow-wrap: break-word;
}

.card__content {
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  padding-top: 1rem;
}

.card__photo {
  display: flex;
  width: 9.375rem; /*150px*/
  padding-right: 1.25rem; /*20px*/
}

.card__text {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-width: 100%;
  padding-bottom: 0.5rem;
}

.card__text--photo {
  display: flex;
  max-width: 66%;
}

.card--bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 60%;

  order: 0;

  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

.card--bottom > li {
  padding-right: 0.5rem;
  align-self: flex-end;
}

.card--movefirst {
  order: 0;
}