* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.card__header {
  font-size: 1.5rem;
  line-height: 1;
}

.card {
  background-color: #fff;
  border: 2px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}